li
	a(href="http://fb.me/strongrealtors")
		i.fa.fa-facebook-square
		|&nbsp; Like us
li
	a(href="http://twitter.com/strongrealtors")
		i.fa.fa-twitter
		|&nbsp; Follow Us
li
	a(href="http://instagram.com/strongrealtors")
		i.fa.fa-instagram
		|&nbsp; Follow Us
li
	a(href="mailto:james@strongrealtors.com")
		i.fa.fa-envelope-o
		|&nbsp; Email